ARC_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.testnet.arc.network
DEPLOYER_PRIVATE_KEY=
NEXT_PUBLIC_ARC_COMPANION_ADDRESS=
NEXT_PUBLIC_ARC_EXPLORER=https://testnet.arcscan.app
METADATA_BASE_URI=
